    <section class="stops" aria-label="Service area">
      <div class="container stops__inner">
        <p class="stops__lead">Serving travelers from Puerto Princesa to destinations including El Nido, Port Barton, San Vicente, Sabang, and other Palawan routes.</p>
        <ol class="stops__line" role="list">
          <li class="stops__item stops__item--base"><span class="stops__dot" aria-hidden="true"></span><span class="stops__name">Puerto Princesa</span><span class="stops__tag">Service base</span></li>
          <li class="stops__item"><span class="stops__dot" aria-hidden="true"></span><a class="stops__name" href="{{root}}transfers/puerto-princesa-to-sabang/">Sabang</a></li>
          <li class="stops__item"><span class="stops__dot" aria-hidden="true"></span><a class="stops__name" href="{{root}}transfers/puerto-princesa-to-port-barton/">Port Barton</a></li>
          <li class="stops__item"><span class="stops__dot" aria-hidden="true"></span><a class="stops__name" href="{{root}}transfers/puerto-princesa-to-san-vicente/">San Vicente</a></li>
          <li class="stops__item"><span class="stops__dot" aria-hidden="true"></span><a class="stops__name" href="{{root}}transfers/puerto-princesa-to-el-nido/">El Nido</a></li>
        </ol>
      </div>
    </section>
